---
import Layout from '../../layouts/Layout.astro';
import './styles/styles.css';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return ['en', 'fr', 'es'].map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={t('site.title')} description={t('site.description')} lang={lang}>
  <h1>{t('home.welcome')}</h1>
  <p>
    {t('home.p1')}
  </p>
  <!-- <p class='p2'>
    {t('home.p2')}
  </p> -->
  <p class='homeP3'>{t('home.p3')}</p>
  <ul>
    <li>
      <p class='homeP3TitleList'>{t('home.p3.title.0')}</p>{t('home.p3.0')}
    </li>
    <div class='divLisP3'>
      <li>
        <p class='homeP3TitleList'>{t('home.p3.title.1')}</p>
        {t('home.p3.1')}
      </li>
    </div>
    <li>
      <p class='homeP3TitleList'>{t('home.p3.title.2')}</p>{t('home.p3.2')}
    </li>
    <!-- <li>
      {t('home.p3.3')}
      <code>src/components/Header.astro</code>
    </li>
    <li>
      {t('home.p3.4')}
      <code>src/components/Footer.astro</code>
    </li>
    <li>{t('home.p3.5')} <code>src/pages/blog/</code></li>
    <li>
      {t('home.p3.6')}
      <code>src/layouts/Layout.astro</code>
    </li>
    <li>
      {t('home.p3.7')}
      <code>src/layouts/BlogPost.astro</code>
    </li> -->
  </ul>
</Layout>
